<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ativo</th>
      <th>obito</th>
      <th>recuperado</th>
      <th>total</th>
      <th>obito_acumulado</th>
      <th>recuperado_acumulado</th>
      <th>total_acumulado</th>
      <th>taxa_letalidade</th>
      <th>taxa_recuperacao</th>
    </tr>
    <tr>
      <th>data</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2020-11-30</th>
      <td>117.0</td>
      <td>43.0</td>
      <td>1455.0</td>
      <td>1615.0</td>
      <td>14022.0</td>
      <td>122257.0</td>
      <td>142854.0</td>
      <td>9.815616</td>
      <td>85.581783</td>
    </tr>
    <tr>
      <th>2020-12-01</th>
      <td>88.0</td>
      <td>29.0</td>
      <td>1177.0</td>
      <td>1294.0</td>
      <td>14051.0</td>
      <td>123434.0</td>
      <td>144148.0</td>
      <td>9.747621</td>
      <td>85.630047</td>
    </tr>
    <tr>
      <th>2020-12-02</th>
      <td>68.0</td>
      <td>26.0</td>
      <td>1093.0</td>
      <td>1187.0</td>
      <td>14077.0</td>
      <td>124527.0</td>
      <td>145335.0</td>
      <td>9.685898</td>
      <td>85.682733</td>
    </tr>
    <tr>
      <th>2020-12-03</th>
      <td>62.0</td>
      <td>29.0</td>
      <td>839.0</td>
      <td>930.0</td>
      <td>14106.0</td>
      <td>125366.0</td>
      <td>146265.0</td>
      <td>9.644139</td>
      <td>85.711551</td>
    </tr>
    <tr>
      <th>2020-12-04</th>
      <td>35.0</td>
      <td>31.0</td>
      <td>815.0</td>
      <td>881.0</td>
      <td>14137.0</td>
      <td>126181.0</td>
      <td>147146.0</td>
      <td>9.607465</td>
      <td>85.752246</td>
    </tr>
    <tr>
      <th>2020-12-05</th>
      <td>11.0</td>
      <td>9.0</td>
      <td>263.0</td>
      <td>283.0</td>
      <td>14146.0</td>
      <td>126444.0</td>
      <td>147429.0</td>
      <td>9.595127</td>
      <td>85.766030</td>
    </tr>
    <tr>
      <th>2020-12-06</th>
      <td>11.0</td>
      <td>13.0</td>
      <td>98.0</td>
      <td>122.0</td>
      <td>14159.0</td>
      <td>126542.0</td>
      <td>147551.0</td>
      <td>9.596004</td>
      <td>85.761533</td>
    </tr>
    <tr>
      <th>2020-12-07</th>
      <td>115.0</td>
      <td>37.0</td>
      <td>912.0</td>
      <td>1064.0</td>
      <td>14196.0</td>
      <td>127454.0</td>
      <td>148615.0</td>
      <td>9.552199</td>
      <td>85.761195</td>
    </tr>
    <tr>
      <th>2020-12-08</th>
      <td>111.0</td>
      <td>22.0</td>
      <td>1020.0</td>
      <td>1153.0</td>
      <td>14218.0</td>
      <td>128474.0</td>
      <td>149768.0</td>
      <td>9.493350</td>
      <td>85.782010</td>
    </tr>
    <tr>
      <th>2020-12-09</th>
      <td>145.0</td>
      <td>21.0</td>
      <td>829.0</td>
      <td>995.0</td>
      <td>14239.0</td>
      <td>129303.0</td>
      <td>150763.0</td>
      <td>9.444625</td>
      <td>85.765738</td>
    </tr>
    <tr>
      <th>2020-12-10</th>
      <td>172.0</td>
      <td>12.0</td>
      <td>792.0</td>
      <td>976.0</td>
      <td>14251.0</td>
      <td>130095.0</td>
      <td>151739.0</td>
      <td>9.391785</td>
      <td>85.736034</td>
    </tr>
    <tr>
      <th>2020-12-11</th>
      <td>164.0</td>
      <td>15.0</td>
      <td>606.0</td>
      <td>785.0</td>
      <td>14266.0</td>
      <td>130701.0</td>
      <td>152524.0</td>
      <td>9.353282</td>
      <td>85.692088</td>
    </tr>
    <tr>
      <th>2020-12-12</th>
      <td>43.0</td>
      <td>5.0</td>
      <td>68.0</td>
      <td>116.0</td>
      <td>14271.0</td>
      <td>130769.0</td>
      <td>152640.0</td>
      <td>9.349450</td>
      <td>85.671515</td>
    </tr>
    <tr>
      <th>2020-12-13</th>
      <td>39.0</td>
      <td>3.0</td>
      <td>137.0</td>
      <td>179.0</td>
      <td>14274.0</td>
      <td>130906.0</td>
      <td>152819.0</td>
      <td>9.340462</td>
      <td>85.660814</td>
    </tr>
    <tr>
      <th>2020-12-14</th>
      <td>180.0</td>
      <td>6.0</td>
      <td>238.0</td>
      <td>424.0</td>
      <td>14280.0</td>
      <td>131144.0</td>
      <td>153243.0</td>
      <td>9.318533</td>
      <td>85.579113</td>
    </tr>
    <tr>
      <th>2020-12-15</th>
      <td>279.0</td>
      <td>9.0</td>
      <td>522.0</td>
      <td>810.0</td>
      <td>14289.0</td>
      <td>131666.0</td>
      <td>154053.0</td>
      <td>9.275379</td>
      <td>85.467988</td>
    </tr>
    <tr>
      <th>2020-12-16</th>
      <td>273.0</td>
      <td>1.0</td>
      <td>523.0</td>
      <td>797.0</td>
      <td>14290.0</td>
      <td>132189.0</td>
      <td>154850.0</td>
      <td>9.228285</td>
      <td>85.365838</td>
    </tr>
    <tr>
      <th>2020-12-17</th>
      <td>391.0</td>
      <td>2.0</td>
      <td>515.0</td>
      <td>908.0</td>
      <td>14292.0</td>
      <td>132704.0</td>
      <td>155758.0</td>
      <td>9.175773</td>
      <td>85.198834</td>
    </tr>
    <tr>
      <th>2020-12-18</th>
      <td>286.0</td>
      <td>1.0</td>
      <td>296.0</td>
      <td>583.0</td>
      <td>14293.0</td>
      <td>133000.0</td>
      <td>156341.0</td>
      <td>9.142196</td>
      <td>85.070455</td>
    </tr>
    <tr>
      <th>2020-12-19</th>
      <td>97.0</td>
      <td>0.0</td>
      <td>145.0</td>
      <td>242.0</td>
      <td>14293.0</td>
      <td>133145.0</td>
      <td>156583.0</td>
      <td>9.128066</td>
      <td>85.031581</td>
    </tr>
  </tbody>
</table>