<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ativo</th>
      <th>obito</th>
      <th>recuperado</th>
      <th>total</th>
      <th>obito_acumulado</th>
      <th>recuperado_acumulado</th>
      <th>total_acumulado</th>
      <th>taxa_letalidade</th>
      <th>taxa_recuperacao</th>
    </tr>
    <tr>
      <th>data</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2021-01-03</th>
      <td>10.0</td>
      <td>10.0</td>
      <td>171.0</td>
      <td>191.0</td>
      <td>16190.0</td>
      <td>147128.0</td>
      <td>171510.0</td>
      <td>9.439683</td>
      <td>85.783919</td>
    </tr>
    <tr>
      <th>2021-01-04</th>
      <td>78.0</td>
      <td>46.0</td>
      <td>1339.0</td>
      <td>1463.0</td>
      <td>16236.0</td>
      <td>148467.0</td>
      <td>172973.0</td>
      <td>9.386436</td>
      <td>85.832471</td>
    </tr>
    <tr>
      <th>2021-01-05</th>
      <td>40.0</td>
      <td>31.0</td>
      <td>1132.0</td>
      <td>1203.0</td>
      <td>16267.0</td>
      <td>149599.0</td>
      <td>174176.0</td>
      <td>9.339404</td>
      <td>85.889560</td>
    </tr>
    <tr>
      <th>2021-01-06</th>
      <td>61.0</td>
      <td>32.0</td>
      <td>868.0</td>
      <td>961.0</td>
      <td>16299.0</td>
      <td>150467.0</td>
      <td>175137.0</td>
      <td>9.306429</td>
      <td>85.913885</td>
    </tr>
    <tr>
      <th>2021-01-07</th>
      <td>40.0</td>
      <td>38.0</td>
      <td>757.0</td>
      <td>835.0</td>
      <td>16337.0</td>
      <td>151224.0</td>
      <td>175972.0</td>
      <td>9.283863</td>
      <td>85.936399</td>
    </tr>
    <tr>
      <th>2021-01-08</th>
      <td>30.0</td>
      <td>46.0</td>
      <td>713.0</td>
      <td>789.0</td>
      <td>16383.0</td>
      <td>151937.0</td>
      <td>176761.0</td>
      <td>9.268447</td>
      <td>85.956178</td>
    </tr>
    <tr>
      <th>2021-01-09</th>
      <td>33.0</td>
      <td>8.0</td>
      <td>251.0</td>
      <td>292.0</td>
      <td>16391.0</td>
      <td>152188.0</td>
      <td>177053.0</td>
      <td>9.257680</td>
      <td>85.956183</td>
    </tr>
    <tr>
      <th>2021-01-10</th>
      <td>16.0</td>
      <td>3.0</td>
      <td>136.0</td>
      <td>155.0</td>
      <td>16394.0</td>
      <td>152324.0</td>
      <td>177208.0</td>
      <td>9.251275</td>
      <td>85.957745</td>
    </tr>
    <tr>
      <th>2021-01-11</th>
      <td>135.0</td>
      <td>54.0</td>
      <td>603.0</td>
      <td>792.0</td>
      <td>16448.0</td>
      <td>152927.0</td>
      <td>178000.0</td>
      <td>9.240449</td>
      <td>85.914045</td>
    </tr>
    <tr>
      <th>2021-01-12</th>
      <td>151.0</td>
      <td>35.0</td>
      <td>619.0</td>
      <td>805.0</td>
      <td>16483.0</td>
      <td>153546.0</td>
      <td>178805.0</td>
      <td>9.218422</td>
      <td>85.873438</td>
    </tr>
    <tr>
      <th>2021-01-13</th>
      <td>165.0</td>
      <td>32.0</td>
      <td>479.0</td>
      <td>676.0</td>
      <td>16515.0</td>
      <td>154025.0</td>
      <td>179481.0</td>
      <td>9.201531</td>
      <td>85.816883</td>
    </tr>
    <tr>
      <th>2021-01-14</th>
      <td>292.0</td>
      <td>26.0</td>
      <td>431.0</td>
      <td>749.0</td>
      <td>16541.0</td>
      <td>154456.0</td>
      <td>180230.0</td>
      <td>9.177717</td>
      <td>85.699384</td>
    </tr>
    <tr>
      <th>2021-01-15</th>
      <td>273.0</td>
      <td>21.0</td>
      <td>335.0</td>
      <td>629.0</td>
      <td>16562.0</td>
      <td>154791.0</td>
      <td>180859.0</td>
      <td>9.157410</td>
      <td>85.586562</td>
    </tr>
    <tr>
      <th>2021-01-16</th>
      <td>76.0</td>
      <td>0.0</td>
      <td>162.0</td>
      <td>238.0</td>
      <td>16562.0</td>
      <td>154953.0</td>
      <td>181097.0</td>
      <td>9.145375</td>
      <td>85.563538</td>
    </tr>
    <tr>
      <th>2021-01-17</th>
      <td>64.0</td>
      <td>9.0</td>
      <td>64.0</td>
      <td>137.0</td>
      <td>16571.0</td>
      <td>155017.0</td>
      <td>181234.0</td>
      <td>9.143428</td>
      <td>85.534171</td>
    </tr>
    <tr>
      <th>2021-01-18</th>
      <td>324.0</td>
      <td>14.0</td>
      <td>406.0</td>
      <td>744.0</td>
      <td>16585.0</td>
      <td>155423.0</td>
      <td>181978.0</td>
      <td>9.113739</td>
      <td>85.407577</td>
    </tr>
    <tr>
      <th>2021-01-19</th>
      <td>209.0</td>
      <td>10.0</td>
      <td>337.0</td>
      <td>556.0</td>
      <td>16595.0</td>
      <td>155760.0</td>
      <td>182534.0</td>
      <td>9.091457</td>
      <td>85.332048</td>
    </tr>
    <tr>
      <th>2021-01-20</th>
      <td>84.0</td>
      <td>5.0</td>
      <td>156.0</td>
      <td>245.0</td>
      <td>16600.0</td>
      <td>155916.0</td>
      <td>182779.0</td>
      <td>9.082006</td>
      <td>85.303016</td>
    </tr>
    <tr>
      <th>2021-01-21</th>
      <td>224.0</td>
      <td>8.0</td>
      <td>174.0</td>
      <td>406.0</td>
      <td>16608.0</td>
      <td>156090.0</td>
      <td>183185.0</td>
      <td>9.066245</td>
      <td>85.208942</td>
    </tr>
    <tr>
      <th>2021-01-22</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>10.0</td>
      <td>10.0</td>
      <td>16608.0</td>
      <td>156100.0</td>
      <td>183195.0</td>
      <td>9.065750</td>
      <td>85.209749</td>
    </tr>
  </tbody>
</table>