<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ativo</th>
      <th>obito</th>
      <th>recuperado</th>
      <th>total</th>
      <th>obito_acumulado</th>
      <th>recuperado_acumulado</th>
      <th>total_acumulado</th>
      <th>taxa_letalidade</th>
      <th>taxa_recuperacao</th>
    </tr>
    <tr>
      <th>data</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2020-12-02</th>
      <td>67.0</td>
      <td>28.0</td>
      <td>1094.0</td>
      <td>1189.0</td>
      <td>14116.0</td>
      <td>124600.0</td>
      <td>145462.0</td>
      <td>9.704253</td>
      <td>85.658110</td>
    </tr>
    <tr>
      <th>2020-12-03</th>
      <td>64.0</td>
      <td>32.0</td>
      <td>839.0</td>
      <td>935.0</td>
      <td>14148.0</td>
      <td>125439.0</td>
      <td>146397.0</td>
      <td>9.664132</td>
      <td>85.684133</td>
    </tr>
    <tr>
      <th>2020-12-04</th>
      <td>35.0</td>
      <td>33.0</td>
      <td>829.0</td>
      <td>897.0</td>
      <td>14181.0</td>
      <td>126268.0</td>
      <td>147294.0</td>
      <td>9.627683</td>
      <td>85.725148</td>
    </tr>
    <tr>
      <th>2020-12-05</th>
      <td>15.0</td>
      <td>10.0</td>
      <td>264.0</td>
      <td>289.0</td>
      <td>14191.0</td>
      <td>126532.0</td>
      <td>147583.0</td>
      <td>9.615606</td>
      <td>85.736162</td>
    </tr>
    <tr>
      <th>2020-12-06</th>
      <td>15.0</td>
      <td>15.0</td>
      <td>103.0</td>
      <td>133.0</td>
      <td>14206.0</td>
      <td>126635.0</td>
      <td>147716.0</td>
      <td>9.617103</td>
      <td>85.728696</td>
    </tr>
    <tr>
      <th>2020-12-07</th>
      <td>80.0</td>
      <td>40.0</td>
      <td>965.0</td>
      <td>1085.0</td>
      <td>14246.0</td>
      <td>127600.0</td>
      <td>148801.0</td>
      <td>9.573860</td>
      <td>85.752112</td>
    </tr>
    <tr>
      <th>2020-12-08</th>
      <td>66.0</td>
      <td>23.0</td>
      <td>1092.0</td>
      <td>1181.0</td>
      <td>14269.0</td>
      <td>128692.0</td>
      <td>149982.0</td>
      <td>9.513808</td>
      <td>85.804963</td>
    </tr>
    <tr>
      <th>2020-12-09</th>
      <td>96.0</td>
      <td>22.0</td>
      <td>874.0</td>
      <td>992.0</td>
      <td>14291.0</td>
      <td>129566.0</td>
      <td>150974.0</td>
      <td>9.465868</td>
      <td>85.820075</td>
    </tr>
    <tr>
      <th>2020-12-10</th>
      <td>98.0</td>
      <td>15.0</td>
      <td>857.0</td>
      <td>970.0</td>
      <td>14306.0</td>
      <td>130423.0</td>
      <td>151944.0</td>
      <td>9.415311</td>
      <td>85.836229</td>
    </tr>
    <tr>
      <th>2020-12-11</th>
      <td>101.0</td>
      <td>15.0</td>
      <td>664.0</td>
      <td>780.0</td>
      <td>14321.0</td>
      <td>131087.0</td>
      <td>152724.0</td>
      <td>9.377046</td>
      <td>85.832613</td>
    </tr>
    <tr>
      <th>2020-12-12</th>
      <td>30.0</td>
      <td>9.0</td>
      <td>83.0</td>
      <td>122.0</td>
      <td>14330.0</td>
      <td>131170.0</td>
      <td>152846.0</td>
      <td>9.375450</td>
      <td>85.818405</td>
    </tr>
    <tr>
      <th>2020-12-13</th>
      <td>33.0</td>
      <td>5.0</td>
      <td>141.0</td>
      <td>179.0</td>
      <td>14335.0</td>
      <td>131311.0</td>
      <td>153025.0</td>
      <td>9.367750</td>
      <td>85.810162</td>
    </tr>
    <tr>
      <th>2020-12-14</th>
      <td>149.0</td>
      <td>11.0</td>
      <td>272.0</td>
      <td>432.0</td>
      <td>14346.0</td>
      <td>131583.0</td>
      <td>153457.0</td>
      <td>9.348547</td>
      <td>85.745844</td>
    </tr>
    <tr>
      <th>2020-12-15</th>
      <td>223.0</td>
      <td>11.0</td>
      <td>583.0</td>
      <td>817.0</td>
      <td>14357.0</td>
      <td>132166.0</td>
      <td>154274.0</td>
      <td>9.306170</td>
      <td>85.669653</td>
    </tr>
    <tr>
      <th>2020-12-16</th>
      <td>233.0</td>
      <td>2.0</td>
      <td>569.0</td>
      <td>804.0</td>
      <td>14359.0</td>
      <td>132735.0</td>
      <td>155078.0</td>
      <td>9.259211</td>
      <td>85.592412</td>
    </tr>
    <tr>
      <th>2020-12-17</th>
      <td>245.0</td>
      <td>3.0</td>
      <td>659.0</td>
      <td>907.0</td>
      <td>14362.0</td>
      <td>133394.0</td>
      <td>155985.0</td>
      <td>9.207296</td>
      <td>85.517197</td>
    </tr>
    <tr>
      <th>2020-12-18</th>
      <td>193.0</td>
      <td>2.0</td>
      <td>411.0</td>
      <td>606.0</td>
      <td>14364.0</td>
      <td>133805.0</td>
      <td>156591.0</td>
      <td>9.172941</td>
      <td>85.448717</td>
    </tr>
    <tr>
      <th>2020-12-19</th>
      <td>102.0</td>
      <td>0.0</td>
      <td>160.0</td>
      <td>262.0</td>
      <td>14364.0</td>
      <td>133965.0</td>
      <td>156853.0</td>
      <td>9.157619</td>
      <td>85.407993</td>
    </tr>
    <tr>
      <th>2020-12-20</th>
      <td>106.0</td>
      <td>0.0</td>
      <td>35.0</td>
      <td>141.0</td>
      <td>14364.0</td>
      <td>134000.0</td>
      <td>156994.0</td>
      <td>9.149394</td>
      <td>85.353580</td>
    </tr>
    <tr>
      <th>2020-12-21</th>
      <td>273.0</td>
      <td>16.0</td>
      <td>410.0</td>
      <td>699.0</td>
      <td>14380.0</td>
      <td>134410.0</td>
      <td>157693.0</td>
      <td>9.118984</td>
      <td>85.235236</td>
    </tr>
  </tbody>
</table>